# Visual Studio specific
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build artifacts
bin/
obj/
*.pdb
*.ilk
*.aps
*.pch
*.rsp
*.sbr

# WPF specific
*.g.i.cs
*.g.cs
*.xaml.cs

# NuGet
*.nupkg
project.lock.json
packages/

# Rider & JetBrains specific
.idea/
*.sln.iml

# Other
Thumbs.db
Desktop.ini
